<div class="center jumbotron">
  <h1>Mon Club</h1>
  <a href= <%= login_path %> ><button class="btn btn-primary">connecte toi !</button></a><br>
  <a href= <%= users_path %> ><button class="btn btn-primary">inscrit toi !</button></a>

</div>